.winner{
    font-weight: 700;
    color: green;
}

#p1Button{
    /* margin-top: 10px; */
    width: 50%;
    height: 500px;
    float: left;
    background-color: #84ed95; 
}

#p2Button{
    /* margin-top: 10px; */
    width: 50%;
    height: 500px;
    background-color: #84aced; 
    float: left;

}

#reset{
    width: 100%;
    height: 100px;
    background-color: #e8907a; 
}

#score{
    text-align: center;
    font-size: 4em;
}

.image{
    height: 50%;
    width: 50%;
    border-radius: 100%;
}
